
/deep/ .ui-tabview-left  .ui-tabview-panel {
    border-top: 1px solid #bebebe;
    padding: 0em;
    background: 0;
    /* height:382px; */
}

:host /deep/ .ui-tabview .ui-tabview-nav > li.ui-state-active {
    margin-right: -1px;
}

/deep/ .ui-tabview .ui-tabview-left > .ui-tabview-nav {
    border-right: 1px solid #bebebe;
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

/deep/ .ui-tabview-left>.ui-tabview-nav {
    height: auto;
}