
/deep/ .ui-tabview-left  .ui-tabview-panel {
    border: 1px solid #bebebe;
    padding: 0em;
    background: 0;
    height:382px;
}

:host /deep/ .ui-tabview .ui-tabview-nav > li.ui-state-active {
    margin-right: -1px;
}