<dynamic-form [controls]="controls" [parent]="group" [formName]="groupName" [value]="value">

</dynamic-form>



<!-- <div styleClass="ui-fluid" [formGroup]="sampleFrequencyForm">
    <h4>Number of Samples</h4>
    <div class="ui-g-1 ui-sm-6">
        <label for="month">January:</label>
    </div>
    <div class="ui-g-1 ui-sm-6">
        <input type="text" pInputText formControlName="value"/>
        <div *ngIf="sampleFrequencyForm.controls.value.errors?.required">
            Total Sample is required.
        </div>
    </div>

</div> -->