<p-card title="Contact & Summary" styleClass="ui-fluid">
  <div style="font-family:'Roboto', 'Trebuchet MS', Arial, Helvetica, sans-serif;font-size:14px;text-decoration: underline;font-weight: bold;">
    Details of those compiling the Fuel Quality Monitoruing Report
  </div>
  <div style="font-family:'Roboto', 'Trebuchet MS', Arial, Helvetica, sans-serif;font-size:11px;">
    The authorities responsible for compiling the fuel quality monitoring report are requested to complete the table below.
  </div>
  <div class="ui-g">
    <div class="ui-g-2">Reporting Year</div>
    <div class="ui-g-2">2016</div>
  </div>

  <div class="ui-g">
    <div class="ui-g-2">
      <label for="country">Country</label>
    </div>
    <div class="ui-g-2">
      <p-autoComplete [(ngModel)]="contacts.country" [suggestions]="filteredCountries" (completeMethod)="searchCountries($event)"
        field="name" [dropdown]="true">
      </p-autoComplete>
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-2">
      <label for="dateReportCompleted">Date Report Completed</label>
    </div>
    <div class="ui-g-2">
      <p-calendar [(ngModel)]="contacts.dateReportCompleted" dateFormat="dd/mm/y" [showIcon]="true"></p-calendar>
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-2">
      <label for="organisationResponsibleForReport">Organisation Responsible for Report</label>
    </div>
    <div class="ui-g-2">
      <input type="text" pInputText [(ngModel)]="contacts.organisationResponsibleForReport" />
    </div>
    <div class="ui-g-2">
      <label for="addressOfOrganisationStreet">Address of Organisation Street:</label>
    </div>
    <div class="ui-g-3">
      <input type="text" pInputText [(ngModel)]="contacts.addressOfOrganisationStreet" />
    </div>
  </div>

  <div class="ui-g">
      <div class="ui-g-2">
        </div>
        <div class="ui-g-2">
        </div>

      <div class="ui-g-2">
          <label for="city">City:</label>
        </div>
        <div class="ui-g-2">
          <input type="text" pInputText [(ngModel)]="contacts.city" />
        </div>
  </div>

  <div class="ui-g">
      <div class="ui-g-2">
        </div>
        <div class="ui-g-2">
        </div>

      <div class="ui-g-2">
          <label for="postcode">PostCode:</label>
        </div>
        <div class="ui-g-2">
          <input type="text" pInputText [(ngModel)]="contacts.postcode" />
        </div>
  </div>

</p-card>