<p-card title="Petrol" styleClass="ui-fluid" [formGroup]="parentForm">
    <dynamic-form [parent]="parentForm" [formName]="'petrol'" (formCreated)="retrievePetrolFormGroup($event)"
                  [controls]="commonControls"
                  [customControls]="controls"
                  [value]="fuelPetrol" [controlsPerRow]="3">


        <div class="ui-g">
            <div class="ui-g-2">
                <button type="button" pButton
                        label="Add Petrol"
                        icon="fa-plus"
                        (click)="addPetrol()">

                </button>
            </div>
        </div>
        <p-tabView *ngIf="petrolFormGroup.controls && fuelPetrol.petrols.length >= 3 && cols"  [controlClose]="true" (onClose)="handleRemovePetrol($event)">
            <!-- selected tab must be set manually whith dynamic tabs https://www.primefaces.org/primeng/#/tabview -->
            <p-tabPanel *ngFor="let petrolFormGroup of petrolFormGroup.controls.petrols.controls; index as i" [header]="getPetrolHeader(i)"
                        [selected]="i == 0"
                        [closable]="(i + 1) % 3 ===0">

                <fuel-petrol-tab [petrolFormGroup]="getPetrolFormGroup(i)"
                                 [petrolGroupControl]="getPetrolGroupControl(i)"
                                 [value]="fuelPetrol.petrols[i]"
                                 [reportResultTypes]="reportResultTypes"
                                 [columns]="cols?.reportingResults">

                </fuel-petrol-tab>

            </p-tabPanel>

        </p-tabView>

    </dynamic-form>
</p-card>
