<div [formGroup]="parentForm">
    <dynamic-form [parent]="parentForm" [formName]="'petrol'" (formCreated)="retrievePetrolFormGroup($event)" [controls]="controls"
        [value]="fuelPetrol">


        <p-table [columns]="cols" [value]="fuelPetrol.petrols" selectionMode="single" (onRowSelect)="openFuelDialog($event)" [paginator]="true"
            [rows]="15">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
                <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="i">
                    <td *ngFor="let col of columns">
                        {{rowData[col.field]}}
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="summary" let-rowData>
                <div style="text-align:left">
                    <button type="button" pButton icon="fa-plus" (click)="showDialogToAdd()" label="Add">
                    </button>
                </div>
            </ng-template>

        </p-table>

        <p-dialog *ngIf="displayDialog" [(visible)]="displayDialog" [closeOnEscape]="false" [closable]="false"
            showEffect="fade" [responsive]="true" [dismissableMask]="false" [modal]="true" styleClass="ui-fluid ui-dialog-width">
            <p-header>
               {{this.petrol.id}}
            </p-header>

            <dynamic-form class="font-style-85em" [form]="petrolFormGroup.controls.petrols.controls[selectedPetrolIndex] ? petrolFormGroup.controls.petrols.controls[selectedPetrolIndex] : undefined"
            [controls]="controls[0].arrayControls[selectedPetrolIndex].groupControls" [groupValidators]="controls[0].arrayControls[selectedPetrolIndex].groupValidators" [parent]="petrolFormGroup.controls.petrols"
                (formSubmit)="onSubmit($event)" (formCreated)="retrieveFormGroup($event)" 
                [showErrors]="true" [value]="fuelPetrol.petrols[selectedPetrolIndex]" [controlsPerRow]="3">

                <p-tabView>
                        <p-tabPanel header="Reporting Results" class="font-style-85em">

                            <reporting-results [reportResultTypes]="reportResultTypes"
                                                [value]="fuelPetrol.petrols[selectedPetrolIndex]"
                                               [group]="petrolFormGroup.controls.petrols.controls[selectedPetrolIndex]">
                            </reporting-results>

                        </p-tabPanel>

                        <p-tabPanel header="Sampling Frequency" class="font-style-85em">

                            <sample-frequency [value]="fuelPetrol.petrols[selectedPetrolIndex]?.sampleFrequency"
                                [group]="petrolFormGroup.controls.petrols.controls[selectedPetrolIndex]">
                            </sample-frequency>

                        </p-tabPanel>

                        <p-tabPanel header="Test Method and Analysis">
                            Content 3
                        </p-tabPanel>
                    </p-tabView>
            </dynamic-form>

            <!-- <div class="error-background" *ngIf="petrolFormErrors?.invalidCountry">
            <span class="error-text-class-padding-40">Country should be unique!</span>
        </div>
        <div class="error-background"
             *ngIf="petrolFormErrors?.invalidNumberofSample">
            <span
                class="error-text-class-padding-30">{{petrolFormErrors?.tabField}}: NumOfSamples outside of the range!</span>
        </div>

        <div>
            <span class="font-style-85em">Basic Info</span>
        </div>
        <div class="ui-g font-style-75em">
            <div class="ui-g-2">
                <label for="country">Country:</label>
                <p *ngIf="petrolFormErrors?.country?.required" style="color:red;display:contents">*</p>
                <input type="text" pInputText formControlName="country">
            </div>

            <div class="ui-g-2">
                <label for="reportingYear">Reporting Year:</label>
                <p *ngIf="petrolFormErrors?.reportingYear?.required" style="color:red;display:contents">*</p>
                <input type="text" pInputText formControlName="reportingYear">
            </div>

            <div class="ui-g-2">
                <label for="period">Period:</label>
                <p *ngIf="petrolFormErrors?.period?.required" style="color:red;display:contents">*</p>
                <input type="text" pInputText formControlName="period">
            </div>

            <div class="ui-g-2">
                <label for="parentFuelGrade">Parent Fuel Grade:</label>
                <p *ngIf="petrolFormErrors?.parentFuelGrade?.required" style="color:red;display:contents">*</p>
                <input type="text" pInputText formControlName="parentFuelGrade">
            </div>
            <div class="ui-g-2">
                <label for="nationalFuelGrade">National Fuel Grade:</label>
                <input type="text" pInputText formControlName="nationalFuelGrade">
            </div>
        </div>

        <div class="ui-g font-style-75em">
            <div class="ui-g-2">
                <label for="summerPeriodNorA">Summer Period:</label>
                <input type="text" pInputText formControlName="summerPeriodNorA">
            </div>
            <div class="ui-g-2">
                <label for="maximumBioethanolContent">Max Bioethanol Content:</label>
                <input type="text" pInputText formControlName="maximumBioethanolContent">
            </div>
        </div>

        <p-tabView>
            <p-tabPanel header="Reporting Results" class="font-style-75em">

                <reporting-results [reportResultTypes]="reportResultTypes"
                                   [controls]="parentForm.controls['petrols'].controls[selectedPetrolIndex].controls"
                                   [group]="parentForm.controls['petrols'].controls[selectedPetrolIndex]">
                </reporting-results>

            </p-tabPanel>

            <p-tabPanel header="Sampling Frequency">

                <sample-frequency
                    [group]="parentForm.controls['petrols'].controls[selectedPetrolIndex].controls.sampleFrequency"></sample-frequency>

            </p-tabPanel>

            <p-tabPanel header="Test Method and Analysis">
                Content 3
            </p-tabPanel>
        </p-tabView>
-->
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton
                        style="font-size:12px;background-color:grey;padding-left: -1em !important;" (click)="close()"
                        label="Close"></button>
                <button type="button" pButton icon="fa fa-remove" style="font-size:12px;background-color:red"
                        (click)="delete()" label="Delete"></button>
                <button type="button" pButton icon="fa-check" (click)="save()"
                        style="font-size:12px;background-color:green" label="Save"></button>
            </div>
        </p-footer>
        </p-dialog>
    </dynamic-form>
</div>
