/deep/ .ui-dialog-width {
    width: 85%;
}

/* LEF ALIGNED TABS*/

:host /deep/ .ui-tabview-left > .ui-tabview-nav {
    width: 15%;
}

:host /deep/ .ui-tabview-left > .ui-tabview-panels {
    float: left;
    width: 85%;
}

/* DIALOG INPUT STYLES */

/deep/ .font-style-85em label {
    font-size: 0.85em;
    font-weight: bold;
}

/deep/ .font-style-85em input, /deep/ .font-style-85em button {
    font-size: 0.85em;
}

/* DIALOG BUTTON ICONS */
:host /deep/ .ui-fluid .ui-button-text-icon-left .ui-button-text, .ui-fluid .ui-button-text-icon-right .ui-button-text {
    padding-left: 2em;
}
