<!--The content below is only a placeholder and can be replaced.-->
<div style="background:white none repeat scroll 0 0;overflow:hidden;">
    <div id="header">
        <h1>EEA POC</h1>
    </div>

    <div>
            <p-tabView>
                    <p-tabPanel header="Contacts & Annual Summary">
                        <fuel-contacts [contacts]="fuelData?.contacts"></fuel-contacts>
                    </p-tabPanel>
                    <p-tabPanel header="Petrol"  [selected]="true">
                        <app-petrol></app-petrol>
                    </p-tabPanel>
                </p-tabView>
    </div>
</div>


