<!--The content below is only a placeholder and can be replaced.-->
<div style="background:white none repeat scroll 0 0;overflow:hidden;">
    <div id="header">
        <h1>EEA POC</h1>
    </div>
</div>
<!--<error-messages [relatedForm]="parentForm"></error-messages>-->

<dynamic-form formName="parentForm" [controls]="parentControls" [showErrors]="true" [showNestedFormGroupErrors]="true"
              (formCreated)="retrieveFormGroup($event)" [groupValidators]="topValidators">

    <p-tabView>
        <p-tabPanel header="Contacts & Annual Summary">
            <fuel-contacts [parentForm]="parentForm" [contacts]="fuelData?.contacts"></fuel-contacts>
        </p-tabPanel>
        <p-tabPanel header="Petrol">
            <fuel-petrol *ngIf="fuelData?.petrol.petrols.length > 0" [parentForm]="parentForm" [fuelPetrol]="fuelData?.petrol"></fuel-petrol>
        </p-tabPanel>
    </p-tabView>

</dynamic-form>


