<error-messages *ngIf="showErrors" [relatedForm]="form" [showNestedErrors]="showNestedFormGroupErrors"></error-messages>
<div [formGroup]="form">

    <ng-content select="[form-header]"></ng-content>


    <div *ngFor="let group of groupedControls" class="ui-g">

        <ng-container *ngFor="let control of group">
            <!-- NESTED FORM GROUP-->
            <dynamic-form *ngIf="control.controlType === ControlType.GROUP" [formName]="control.key"
                          [parentForm]="form"
                          [controls]="control['groupControls']"
                          [groupValidators]="control['groupValidators']" [controlsPerRow]="control['controlsPerRow']">
            </dynamic-form>

            <dynamic-form-control *ngIf="control.controlType !== ControlType.GROUP"
                                  [control]="control" [form]="form"
                                  [controlErrors]="getControlErrors(control.key)"
                                  [controlsPerRow]="controlsPerRow">

            </dynamic-form-control>
        </ng-container>

    </div>

    <ng-content></ng-content>

    <!--<div style="width:65px">-->
    <!--<button pButton type="button" (click)="onSubmit()" label="Save" class="ui-button-success"></button>-->
    <!--</div>-->
    <div *ngIf="form.errors" class="alert alert-danger">
        {{form.errors | json}}
    </div>
</div>

