<p-table [columns]="cols" [value]="petrols" [paginator]="true" [(selection)]="selectedPetrol">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{col.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td *ngFor="let col of columns">
        {{rowData[col.field]}}
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="summary" let-rowData>
    <div style="text-align:left">
      <button type="button" pButton icon="fa-plus" (click)="showDialogToAdd()" label="Add"></button>
    </div>
  </ng-template>
</p-table>

<pre>{{petrols | json}}</pre>

<pre>{{petrolForm.value | json}}</pre>

<p-dialog header="Petrol 1" styleClass="ui-fluid" [style]="{'text-align': 'center',
'vertical-align': 'middle', 'font-size': '0.8em'}" [formGroup]="petrolForm" [(visible)]="displayDialog" showEffect="fade"
  [responsive]="true" [modal]="true" [width]="800">

  <h3 class="first">Basic</h3>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-4">
      <div class="ui-inputgroup">
        <input type="text" pInputText placeholder="Country" formControlName="country">
      </div>
    </div>

    <div class="ui-g-12 ui-md-4">
      <div class="ui-inputgroup">
        <input type="text" pInputText placeholder="Reporting Year" formControlName="reportingYear">
      </div>
    </div>
  </div>

  <!-- <div class="ui-g-12 ui-md-4">
      <div class="ui-inputgroup">
        <input type="text" pInputText placeholder="Period" formControlName="period">
      </div>
    </div>
    <div class="ui-g-12 ui-md-4">
      <div class="ui-inputgroup">
        <input type="text" pInputText placeholder="Parent Fuel Grade" formControlName="parentFuelGrade">
      </div>
    </div>
  </div>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-4">
      <div class="ui-inputgroup">
        <input type="text" pInputText placeholder="National Fuel Grade" formControlName="nationalFuelGrade">
      </div>
    </div>

    <div class="ui-g-12 ui-md-4">
      <div class="ui-inputgroup">
        <input type="text" pInputText placeholder="Summer Period" formControlName="summerPeriodNorA">
      </div>
    </div>
    <div class="ui-g-12 ui-md-4">
      <div class="ui-inputgroup">
        <input type="text" pInputText placeholder="Max Bioethanol Content" formControlName="maximumBioethanolContent">
      </div>
    </div>
  </div>

  <h3 class="first">Reporting Results</h3>
  <h2 class="first">Reasearch Octane Number</h2>
  <div formGroupName="researchOctaneNumber">
    <div class="ui-g">
      <div class="ui-g-1 ui-sm-6">
        <label for="unit">Unit</label>
      </div>
      <div class="ui-g-2 ui-sm-6">
        <input type="text" pInputText formControlName="unit" />
      </div>
      <div class="ui-g-3 ui-sm-6">
        <label for="numOfSamples">Number of Samples</label>
      </div>
      <div class="ui-g-2 ui-sm-4">
        <input type="text" pInputText formControlName="numOfSamples" />
      </div>
    </div>

    <div class="ui-g">
      <div class="ui-g-1 ui-sm-6">
        <label for="min">Min</label>
      </div>
      <div class="ui-g-2 ui-sm-4">
        <input type="text" pInputText formControlName="min" />
      </div>
      <div class="ui-g-3 ui-sm-6">
        <label for="standardDeviation">Standard Deviation</label>
      </div>
      <div class="ui-g-2 ui-sm-4">
        <input type="text" pInputText formControlName="standardDeviation" />
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-1 ui-sm-6">
        <label for="max">Max</label>
      </div>
      <div class="ui-g-2 ui-sm-4">
        <input type="text" pInputText formControlName="max" />
      </div>
      <div class="ui-g-3 ui-sm-6">
        <label for="toleranceLimit">Tolerance Limit</label>
      </div>
      <div class="ui-g-2 ui-sm-4">
        <input type="text" pInputText formControlName="toleranceLimit" />
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-1 ui-sm-6">
        <label for="median">Median</label>
      </div>
      <div class="ui-g-2 ui-sm-4">
        <input type="text" pInputText formControlName="median" />
      </div>

      <div class="ui-g-3 ui-sm-6">
        <label for="sampleValue">Sample Value</label>
      </div>
      <div class="ui-g-2 ui-sm-4">
        <input type="text" pInputText formControlName="sampleValue" />
      </div>
    </div>

    <div class="ui-g">
      <div class="ui-g-1 ui-sm-6">
        <label for="nationalMin">National Min</label>
      </div>
      <div class="ui-g-2 ui-sm-4">
        <input type="text" pInputText formControlName="nationalMin" />
      </div>
      <div class="ui-g-3 ui-sm-6">
        <label for="nationalMax">National Max</label>
      </div>
      <div class="ui-g-2 ui-sm-4">
        <input type="text" pInputText formControlName="nationalMax" />
      </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-1 ui-sm-6">
        <label for="directiveMin">Directive Min</label>
        </div>
        <div class="ui-g-2 ui-sm-4">
          <input type="text" pInputText formControlName="directiveMin" />
        </div>
        <div class="ui-g-3 ui-sm-6">
          <label for="directiveMax">Directive Max</label>
        </div>
        <div class="ui-g-2 ui-sm-4">
          <input type="text" pInputText formControlName="directiveMax" />
        </div>
      </div>

      <div class="ui-g">
          <div class="ui-g-1 ui-sm-6">
          <label for="method">Method</label>
          </div>
          <div class="ui-g-2 ui-sm-4">
            <input type="text" pInputText formControlName="method" />
          </div>
          <div class="ui-g-2 ui-sm-6">
            <label for="date">Date</label>
          </div>
          <div class="ui-g-3 ui-sm-6">
              <p-calendar id="date" dateFormat="dd/mm/y" [showIcon]="true" formControlName="date">
              </p-calendar>
          </div>
        </div>
  </div> -->

  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete"></button>
      <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
    </div>
  </p-footer>

</p-dialog>